.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94%;
  @include media(mobile) {
    width: 450px;
  }
  @include media(desktop) {
    width: 528px;
  }
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  transition: transform 300ms ease-in-out, opacity 400ms ease-in;

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  .backdrop & {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modal-wrapper__close-btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: inherit;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
