.benefits__list {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include media(desktop) {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  //width: 270px;
  // margin-right: 30px;

  // &:last-child {
  //   margin-right: 0;
  // }
  @include media(not-desktop) {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  &:nth-last-child(-n + 2) {
    @include media(tablet) {
      margin-bottom: 0;
    }
  }
  @include media(desktop) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.benefits__svg-wrapper {
  background-color: var(--background-light-gray);
  display: flex;
  //width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.benefits__header {
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @include media(tablet) {
    text-align: left;
  }
}
.benefits__text {
  @include fonts(null, null, 1.71, 0.03em);
  color: var(--secondary-color);
}
