.btn {
  font-family: inherit;
  @include fonts(700, 16px, 1.88, 0.06em);
  color: var(--white-accent);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}
