.header-contacts {
  margin-left: auto;
  @include media(mobile-only) {
    display: none;
  }
  @include media(desktop) {
    display: flex;
  }
}
.header-contacts__item:not(:last-child) {
  @include media(desktop) {
    margin-right: 50px;
  }
}
.header-contacts__link {
  @include fonts(500, 12px, 1.17, 0.02em);
  transition: color var(--timing-function);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  @include media(desktop) {
    @include fonts(500, 14px, 1.14, 0.02em);
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  margin-right: 10px;
}
