.header {
  border-bottom: 1px solid var(--bottom-line);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  @include media(mobile-only) {
    padding: 16px 0;
  }
  @include media(tablet) {
    margin-right: 88px;
  }
}
.header__list {
  display: flex;
}
