.member-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.member-card__name {
  @include fonts(500, 16px, 1.19, 0.03em);
  text-align: center;
  margin-bottom: 10px;
}
.member-card__position {
  @include fonts(null, 16px, 1.19, 0.03em);
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 16px;
}
