.team {
  background-color: var(--background-light-gray);
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-right: 30px;
  background-color: var(--white-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}
