.work {
  padding-top: 0;
}
.work__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  @include fonts(700, null, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-accent);
}
