.card__overlay {
  position: relative;
  overflow: hidden;
}
.card__overlay-text {
  @include fonts(null, 18px, 1.56, 0.03em);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 63px 24px;
  color: var(--white-accent);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--timing-function);

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0);
  }
}
