.nav {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  @include fonts(500, null, 1.14, 0.02em);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &--active {
    position: relative;
    color: var(--accent-color);
  }
  &--active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
